@use "variable";
@use "small-default";

@media only screen and (min-width: 48rem) {
    body {
        font-size: 18px;
    }

    #top-header {
        #top-nav {
            @include small-default.flex(row, center, flex-end);
    
            .top-nav-link {
                display: inline;
            }    
    
            #hamburger {
                display: none;
            }
        }
    }

    #projects {
        #project-container {
            @include small-default.flex(row, flex-start, space-between);

            .project-card {
                width: 42vw;
            }
        }
    }

    #courses {
        #course-container {
            @include small-default.flex(row, stretch, space-between);

            .course-card {
                @include small-default.flex(column, center, flex-start);
                width: 42vw;
            }
        }
    }

    #contact {
        #contact-form {
            width: 75%;
        }
    }
}