@use "variable";

@font-face {
    font-family: PlaywriteGBS;
    src: url(/font/PlaywriteGBS-VariableFont_wght.ttf);
}

@mixin button($background-color: variable.$dark, $color: variable.$white) {
    background: $background-color;
    color: $color;
    border: none;
    border-radius: variable.$card-border-radius;
    padding: 2%;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    width: 100%;

    &:hover {
        opacity: 50%;
    }
}

@mixin flex($direction: row, $align-items: center, $justify-content: center) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: wrap;
    align-items: $align-items;
    justify-content: $justify-content;
    row-gap: 2vh;
    column-gap: 2vw;
    text-align: center;
}

@mixin card($background-color: variable.$dark, $color: variable.$white) {
    @include flex(column);

    width: 100%;
    background: $background-color;
    color: $color;
    border-radius: variable.$card-border-radius;
    padding: 2%;

    .card-title {
        font-size: 1.5em;
    }

    .card-img {
        width: 100%;
        border-radius: variable.$card-border-radius;
        object-fit: cover;
        object-position: center;
    }

    button, .button {
        @include button($color, $background-color);
    }
}

@mixin card-hover($shadow-color: variable.$blue) {
    box-shadow: 0px 0px 15px $shadow-color;
    transition-duration: 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
    font-family: variable.$default-font;
}

#top-header {
    position: sticky;
    top: 0;

    #top-nav {
        width: 100%;
        box-shadow: 0px 0px 5px variable.$extra-dark;
        background-color: variable.$white;
        position: absolute;
        padding: variable.$top-nav-padding;
        @include flex(column);

        .top-nav-item {
            text-decoration: none;
            padding: variable.$top-nav-padding;
            color: variable.$extra-dark;
        }

        .top-nav-link {
            display: none;

            &:hover {
                color: variable.$light-blue;
            }

            &.active {
                display: block;
            }
        }    

        #hamburger {
            display: block;
            align-self: flex-end;

            .bar {
                width: 5vw;
                height: 0.3vh;
                margin: 0.5vh auto;
                background-color: variable.$extra-dark;
            }

            &.active {
                #hamburger-1{
                    visibility: hidden;
                }
    
                #hamburger-2{
                    display: block;
                }
    
                #hamburger-3{
                    visibility: hidden;
                }
            }
        }
    }
}

section {
    padding: 10vh variable.$page-x-margin;

    .main-header {
        padding: 2vh;
        @include flex(column);

        .section-title {
            font-size: 2em;
        }
    }
}

#intro {
    padding: 25vh 10vw;
    background-color: variable.$white;
    color: variable.$extra-dark;
    text-align: center;

    #name {
        font-family: PlaywriteGBS, variable.$default-font;
        font-size: 2.5em;
    }
}

#projects {
    background-color: variable.$extra-dark;
    color: variable.$light-grey;

    #project-container {
        @include flex(column);

        .project-card {
            @include card(variable.$dark, variable.$light-grey);

            &:hover {
                @include card-hover(variable.$blue);
    
                .project-github-icon {
                    animation: spin 2s ease-in-out infinite alternate;
                }
    
                @keyframes spin {
                    0% {transform: rotate(0deg);}
                    100% {transform:rotate(360deg);}
                }
            }

            .project-show-more {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

#courses {
    background-color: variable.$light-grey;
    color: variable.$extra-dark;

    .bookmark-container {
        @include flex(row);
    }

    #course-container {
        @include flex(column);

        .course-card {
            @include card(variable.$blue, variable.$extra-dark);

            &:hover {
                @include card-hover(variable.$blue);
            }

            .course-link {
                margin-top: auto;
            }
        }
    }
}

#contact {
    background-color: variable.$white;
    color: variable.$extra-dark;

    #contact-form {
        @include flex(column, flex-start, center);
        margin: auto;

        input[type=text],
        input[type=email],
        textarea {
            width: 100%;
            border: medium solid variable.$light-grey;
            border-radius: variable.$card-border-radius;
            padding: 1%;
            resize: none;
            font-size: 1em;
            font-family: variable.$default-font;
        }
    
        button {
            @include button(variable.$light-blue, variable.$extra-dark);

            input[type=submit] {
                background: none;
                border: none;
                font-size: 1em;
            }
        }
    }
}


footer {
    padding: 5vh variable.$page-x-margin;
    background-color: variable.$light-blue;
    color: variable.$extra-dark;
}