@font-face {
    font-family: PlaywriteGBS;
    src: url(font/PlaywriteGBS-VariableFont_wght.ttf);
}

:root {
    --extra-dark: #062c43;
    --dark: #054569;
    --blue: #5591a9;
    --light-blue: #9ccddc;
    --light-grey: #ced7e0;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

header {
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 5px var(--extra-dark);
}

#top-nav {
    background-color: var(--white);
    padding: 1vh 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.top-nav-link {
    padding: 1vh 2vw;
    text-decoration: none;
    font-size: 1rem;
    color: var(--extra-dark);
}

.top-nav-link:hover {
    color: var(--light-blue);
}

#nav-contact {
    background: linear-gradient(var(--extra-dark), var(--blue));
    color: var(--white);
    border-radius: 10px;
}

#nav-contact:hover {
    color: var(--light-blue);
}

#intro {
    padding: 25vh 10vw;
    background-color: var(--white);
    color: var(--extra-dark);
    font-size: 1.2rem;
}

#name {
    font-family: PlaywriteGBS, sans-serif;
    font-size: 6rem;
}

section {
    padding: 20vh 5vw;
}

.section-title {
    font-size: 3rem;
    padding-bottom: 10vh;
}

#projects {
    background-color: var(--extra-dark);
    color: var(--white);
}

#project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    width: 25vw;
    height: 50vh;
    background: var(--dark);
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.project-card:hover {
    box-shadow: 0px 0px 15px var(--blue);
    transition-duration: 0.5s;
}

.project-card:hover .project-icon {
    animation: flash 2s ease-in-out infinite alternate;
}

@keyframes flash {
    0% {transform: rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.project-title {
    font-size: 1.5rem;
}

.project-info {
    font-size: 1rem;
    color: var(--light-blue);
}

.project-img {
    width: 100%; /* in percent of the containing block */
    height: 50%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.project-card a {
    display: block;
    margin-top: auto;
    width: 15%;
}

.project-icon {
    width: 100%;
    opacity: 50%;
}

.project-icon:hover {

    opacity: 100%;
}

.project-icon.load {
    rotate: 360deg;
    transition-duration: 0.5s;
}

#courses {
    background-color: var(--light-grey);
    color: var(--extra-dark);
}

#contact {
    background-color: var(--white);
    color: var(--extra-dark);
}

#contact > .section-title {
    text-align: center;
}

#contact-form {
    width: 50%;
    font-size: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

input[type=text],
input[type=email],
textarea {
    border-style: solid;
    border-color: var(--light-grey);
    border-width: 0.5vh;
    border-radius: 10px;
    padding: 1%;
    resize: none;
}

input[type=submit] {
    border-style: solid;
    border-color: var(--light-grey);
    border-radius: 10px;
    padding: 1% 2%;
    background-color: var(--light-grey);
}

input[type=submit]:hover {
    border-color: var(--light-blue);
    background-color: var(--light-blue);
}

footer {
    padding: 5vh 5vw;
    background-color: var(--light-blue);
    color: var(--extra-dark);
}