@font-face {
    font-family: PlaywriteGBS;
    src: url(font/PlaywriteGBS-VariableFont_wght.ttf);
}

:root {
    --extra-dark: #062c43;
    --dark: #054569;
    --blue: #5591a9;
    --light-blue: #9ccddc;
    --light-grey: #ced7e0;
    --white: #ffffff;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    :root {
        font-size: 20px;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

#top-header {
    position: sticky;
    top: 0;
}

#top-nav {
    box-shadow: 0px 0px 5px var(--extra-dark);
    background-color: var(--white);
    padding: 1vh 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    #top-nav {
        width: 100%;
        flex-direction: column;
        align-items: center;
        row-gap: 2vh;
        position: absolute;
    }
}

.top-nav-item {
    padding: 1vh 2vw;
    text-decoration: none;
    font-size: 1rem;
    color: var(--extra-dark);
}

.top-nav-link:hover {
    color: var(--light-blue);
}

@media only screen and (max-width: 600px) {
    .top-nav-link {
        display: none;
    }

    .top-nav-link.active {
        display: block;
    }
}

#hamburger {
    display: none;
}

#hamburger.active #hamburger-1{
    visibility: hidden;
}

#hamburger.active #hamburger-2{
    display: block;
}

#hamburger.active #hamburger-3{
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    #hamburger {
        display: block;
        align-self: flex-end;
    }
}

.bar {
    display: block;
    width: 5vw;
    height: 0.3vh;
    margin: 0.5vh auto;
    background-color: var(--extra-dark);
}

#intro {
    padding: 25vh 10vw;
    background-color: var(--white);
    color: var(--extra-dark);
    font-size: 1rem;
    text-align: center;
}

#name {
    font-family: PlaywriteGBS, sans-serif;
    font-size: 5rem;
}

@media only screen and (max-width: 600px) {
    #name {
        font-size: 2.5rem;
    }
}

section {
    padding: 20vh 5vw;
}

@media only screen and (max-width: 600px) {
    section {
        padding: 10vh 5vw;
    }
}

.main-header {
    padding-bottom: 10vh;
}

.section-title {
    font-size: 2.5rem;
}

@media only screen and (max-width: 600px) {
    .section-title {
        padding-bottom: 5vh;
    }
}

#projects {
    background-color: var(--extra-dark);
    color: var(--white);
}

#project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 5vh;
}

.project-card {
    width: 25vw;
    background: var(--dark);
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

@media only screen and (max-width: 600px) {
    .project-card {
        width: 100%;
        padding: 2%;
    }
}

.project-card:hover {
    box-shadow: 0px 0px 15px var(--blue);
    transition-duration: 0.5s;
}

.project-card:hover .project-icon {
    animation: spin 2s ease-in-out infinite alternate;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.project-title {
    font-size: 1.5rem;
}

.project-info {
    font-size: 1rem;
    color: var(--light-blue);
}

.project-img {
    width: 100%; /* in percent of the containing block */
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.project-show-more {
    display: none;
    background-color: var(--extra-dark);
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    color: var(--light-blue);
    padding: 1%;
}

.project-show-more:hover {
    background-color: var(--light-blue);
    color: var(--extra-dark);
}

.project-card a {
    display: block;
    margin-top: auto;
    width: 15%;
}

.project-icon {
    width: 100%;
    opacity: 50%;
}

.project-icon:hover {
    opacity: 100%;
}

#courses {
    background-color: var(--light-grey);
    color: var(--extra-dark);
}

#course-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#course-header .bookmark {
    width: 5%;
    object-fit: contain;
}

@media only screen and (max-width: 600px) {
    #course-header .bookmark {
        width: 15%;
    }
}

#course-header .bookmark:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#course-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 5vh;
}

.course-card {
    width: 25vw;
    background: var(--blue);
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

@media only screen and (max-width: 600px) {
    .course-card {
        width: 100%;
        padding: 2%;
    }
}

.course-card:hover {
    box-shadow: 0px 0px 15px var(--blue);
    transition-duration: 0.5s;
}

.course-link {
    text-decoration: none;
    color: var(--extra-dark);
    background-color: var(--light-blue);
    width: 100%;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
    margin-top: auto;
}

.course-link:hover {
    background-color: var(--extra-dark);
    color: var(--light-blue);
}

#contact {
    background-color: var(--white);
    color: var(--extra-dark);
}

#contact-header > .section-title {
    text-align: center;
}

#contact-form {
    width: 50%;
    font-size: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

@media only screen and (max-width: 600px) {
    #contact-form {
        width: 80%;
        row-gap: 1vh;
    }
}

input[type=text],
input[type=email],
textarea {
    border-style: solid;
    border: medium solid var(--light-grey);
    border-radius: 10px;
    padding: 1%;
    resize: none;
    font-size: 0.8rem;
    font-family: sans-serif;
    min-height: 10vh;
}

input[type=submit] {
    border-style: solid;
    border-color: var(--light-grey);
    border-radius: 10px;
    padding: 1% 2%;
    background-color: var(--light-grey);
    color: var(--extra-dark);
    font-size: 0.8rem;
    height: 10vh;
}

input[type=submit]:hover {
    border-color: var(--light-blue);
    background-color: var(--light-blue);
}

footer {
    padding: 5vh 5vw;
    background-color: var(--light-blue);
    color: var(--extra-dark);
    font-size: 1rem;
}