@use "../abstracts" as *;

.page-header {
    position: sticky;
    top: 0;

    .top-nav {
        @include text-bg($extra-dark, $light-blue);
        @include flex(column);
        position: absolute;
        width: 100%;
        padding: $top-nav-padding;
        box-shadow: 0px 0px 5px $extra-dark;

        .top-nav-item {
            text-decoration: none;
            padding: $top-nav-padding;
            color: $extra-dark;
        }

        .top-nav-link {
            display: none;

            &:hover {
                color: $blue;
            }

            &.active {
                display: block;
            }
        }    

        .hamburger {
            display: block;
            align-self: flex-end;
            cursor: pointer;

            .bar {
                width: 5vw;
                height: 0.5vh;
                margin: 0.5vh auto;
                background-color: $extra-dark;
            }

            &.active {
                #hamburger-1{
                    visibility: hidden;
                }
    
                #hamburger-2{
                    display: block;
                }
    
                #hamburger-3{
                    visibility: hidden;
                }
            }
        }
    }

    @include for-min-screen-size(medium) {
        .top-nav {
            @include flex(row, flex-end);
    
            .top-nav-link {
                display: inline;
            }
    
            .hamburger {
                display: none;
            }
        }
    }
}