@use "../abstracts" as *;

section {
    @include flex(column);
    padding: 10vh $page-x-margin;

    .section-header {
        padding: 0vh 0vw 5vh;
        @include flex(column);

        .section-title {
            font-size: 2.5em;
        }
    }
}