@use "../abstracts" as *;

.card {
    @include flex(column, flex-start);
    @include text-bg($light-grey, $dark);

    width: 100%;
    padding: $card-padding;
    border-radius: $card-border-radius;

    .card-title {
        font-size: 1.5em;
    }

    .card-img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: $card-border-radius;
    }
    
    .card-footer {
        width: 100%;
        margin-top: auto;
    }

    &:hover {
        box-shadow: 0px 0px 15px $blue;
        transition-duration: 0.5s;
    }

    @include for-min-screen-size(tablet) {
        width: 42vw;
    }
    @include for-min-screen-size(desktop) {
        width: 25vw;
    }
}