$default-font-family: sans-serif;

@font-face {
    font-family: PlaywriteGBS;
    src: url(/font/PlaywriteGBS-VariableFont_wght.ttf);
}

$default-font-size: 20px;
$tablet-font-size: 18px;
$desktop-font-size: 16px;